body {
    background: #e5e5e5;
    padding: 30px 20px;
    height: auto;
}
.App {
    text-align: center;
}

.add-new-groupe {
    width: 790px;
    margin: 20px auto 15px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(196, 196, 196, 0.5);
    button {
        background: #5ba6ff;
        border-radius: 4px;
        span {
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 19px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #f8f8f8;
        }
    }
}

.groupe-content {
    width: 790px;
    height: auto;
    background: #ffffff;
    border-radius: 10px;
    margin: 0 auto 15px;
    padding: 30px 0;
    position: relative;
    .groupe-drag-icon {
        width: 24px;
        height: 24px;
        cursor: pointer;
        position: relative;
        left: 10px;
        top: 95px;
        padding: 3px;
        span {
            left: 12.5%;
            right: 12.5%;
            top: 75%;
            bottom: 25%;
            border: 1px solid #d3d3e3;
            display: block;
            margin-bottom: 6px;
            &:nth-child(2) {
                top: 25%;
                bottom: 75%;
            }
            &:last-child {
                top: 50%;
                bottom: 50%;
            }
        }
    }
    .groupe-content-block {
        display: flex;
        .left-block {
            width: 50px;
        }
        .center-block {
            width: 100%;
            margin-bottom: 30px;
            .group-divider {
                border: 1px solid #d3d3e3;
            }
        }
        .rigth-block {
            width: 51px;

            .groupe-delete-icon {
                cursor: pointer;
                position: relative;
                right: 8px;
                top: 95px;
            }
        }
    }
    .groupe-name {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 16px;
        position: relative;
        display: flex;
        margin-bottom: 40px;
        div {
            margin-top: -12px;
            margin-left: 3px;
        }
    }
    .groupe-fields {
        display: flex;
        flex-wrap: wrap;
        max-width: 600px;
        & > div {
            flex: 2 0 50%;
            margin-bottom: 32px;
        }
        input,
        .ant-select {
            width: 270px;
        }
        .label {
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #3c4d5f;
            margin-bottom: 15px;
        }
        .switch-field {
            display: flex;
            align-items: center;
            .label {
                margin-bottom: 0;
                margin-right: 10px;
                max-width: 105px;
                font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #1f2c3a;
            }
        }
    }

    .add-variable {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 19px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #f8f8f8;
        margin-top: -15px;
        margin-bottom: 30px;
    }

    input,
    .ant-select .ant-select-selector,
    .ant-input-affix-wrapper {
        border: 1px solid #dde0e7;
        box-sizing: border-box;
        border-radius: 6px;
        height: 40px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: #1f2c3a;
    }
    .ant-input-affix-wrapper {
        input {
            height: auto;
        }
    }
    .ant-select .ant-select-selection-item {
        line-height: 40px;
    }
    .switch-field {
        .ant-switch-checked {
            background-color: #01bd70;
        }
    }

    .groupe-items {
        padding-left: 65px;
        &-name {
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 16px;
            color: #3c4d5f;
            margin-left: 50px;
            margin-bottom: 30px;
        }
        .groupe-items-list {
            display: block;
            overflow-x: auto;
            &::-webkit-scrollbar {
                height: 5px;
                border-radius: 1000px;
            }

            &::-webkit-scrollbar-track {
                background: transparent;
                border-radius: 1000px;
                overflow: hidden;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 1000px;
                background: #d7d6d6;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #555;
            }
            tr {
                position: relative;
                .groupe-drag-icon {
                    top: 0;
                    left: 0;
                    bottom: 0;
                    margin: auto;
                }
            }
            &-header {
                th {
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 18px;
                    color: #3c4d5f;
                    padding-bottom: 13px;
                    min-width: 40px;
                    text-align: left;
                    padding-right: 20px;
                    border-top: none !important;
                    &:nth-child(2) {
                        min-width: 78px;
                    }
                    &:nth-child(4) {
                        min-width: 195px;
                    }
                    &:nth-child(5) {
                        min-width: 120px;
                    }
                    &:nth-child(6) {
                        min-width: 116px;
                        padding-right: 0;
                    }
                    &:nth-child(7) {
                        min-width: 170px;
                    }
                }
            }
            th {
                padding-bottom: 20px;
                padding-top: 20px;
                text-align: left;
                border-top: 1px dashed #d3d3e3;
                &:first-child {
                    border-top: none;
                }
                &:nth-child(4) {
                    input {
                        width: 170px;
                    }
                }
                &:nth-child(5) {
                    .ant-input-affix-wrapper {
                        width: 100px;
                    }
                }
                &:nth-child(6) {
                    text-align: center;
                }
            }

            .input-field {
                .ant-input-prefix {
                    width: 9px;
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    text-align: right;
                    color: #1f2c3a;
                    margin-right: 20px;
                    prefix: '$';
                }
            }
            .upload-field {
                .ant-upload.ant-upload-select-picture-card {
                    width: 40px;
                    height: 40px;
                    border: 1px solid #dde0e7;
                    box-sizing: border-box;
                    border-radius: 6px;
                    margin: 0;
                }
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .checkbox-field {
                .ant-checkbox-inner {
                    background-color: transparent;
                    border: 2px solid #dde0e7;
                    width: 20px;
                    height: 20px;
                }
                .ant-checkbox-checked .ant-checkbox-inner {
                    border: 2px solid #01bd70;
                }
                &.ant-checkbox-wrapper-checked {
                    & span:before {
                        content: '';
                        position: absolute;
                        top: -25%;
                        left: 70%;
                        width: 50%;
                        height: 95%;
                        z-index: 0;
                        background: white;
                        transform: rotate(45deg);
                    }

                    & span:after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: -40%;
                        left: 50%;
                        width: 50%;
                        height: 120%;
                        border: solid #01bd70;
                        border-width: 0px 2px 2px 0;
                        transform: rotate(45deg);
                    }
                    &:hover::after,
                    .ant-checkbox:hover::after {
                        visibility: hidden;
                    }
                }
            }
        }
        .ant-btn-link {
            width: 112px;
            height: 40px;
            margin-top: 18px;
            margin-left: 5px;
        }
    }
}
